<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<head>
</head>
<body>
<h3>#{feed.title}</h3>
<div>
<?py if feed.description: ?>
  #{feed.description}
<?py #end ?>
</div>
<div>
<?py if feed.htmlUrl: ?>
  <a href="#{feed.htmlUrl}">#{feed.htmlUrl}</a>
<?py #end ?>
</div>
</body>
